@charset "UTF-8";
/* CSS Document */
/* 
====================================================================================
	GLOBAL ELEMENTS
==================================================================================== 
*/
body {
  font-family: futura-pt, sans-serif;
  font-style: book;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5rem;
  color: #555;
  padding-top: 40px;
  min-width: 380px;
}
img {
	/*display: block;*/ /*removes extra space below images (space left in for text descenders) */
	max-width: 100%; /* fluid width */
	height: auto; /* maintains aspect ratio */
	-ms-interpolation-mode: bicubic; /* Helps IE to render images better */
}

figcaption { /* this is accessibly, and better to use than display: none */
    visibility: none;
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
/* 
====================================================================================
	TYPOGRAPHY
==================================================================================== 
*/
p {
  margin-bottom: 20px;
}
b, strong {
  font-weight: bold;
}
em {
  font-style: normal;
}
a, a:link, a:visited {
	color: #D7B6CA;
	text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
a:hover, a:focus, a:active {
	color: #795454;
}
#heroHeading{
    margin-top: 50px;}
#heroText{
    color: white;
}
#contact h2{
    color: #F1F1F1;
}

/* 
======================
	HEADINGS 
====================== 
*/
/* All Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: fairwater-script, sans-serif;
font-style: normal;
font-weight: 800;
text-align: center;
  line-height: 1.25em;
  margin-bottom: 0.75em;
}
/* Individual Headings */
h1 {
  font-size: 2.5em;
color: #F5F5F5;
}
h2 {
    margin-top: 20px;
    font-size: 2em;
    color: #BBA7A8;
}
h3{
    margin-top: 20px;
}
/* 
====================================================================================
	STRUCTURE
==================================================================================== 
*/
* /* 
====================================================================================
NAVIGATION
==================================================================================== 
*/
/* 
====================================================================================
	PAGE ELEMENTS
==================================================================================== 
*/
#logo{
    width: 50%;
    height: 50%;
}

#hero{
    width: 100%;
    height: 300px;
    background-image: url("../images/mobile_bg.jpg");
    background-size: cover;
    position: relative;
    background-position: center center;
} 
 #footer {
background-color: #E6D0D5;
}
#copyright p{
padding-top: 10px;
display: flex;
justify-content: center;
}

#contact{
     width: 100%;
    height: 550px;
    background-image: url("../images/mobile_bg.jpg");
    background-size: cover;
    position: relative;
    background-position: center center;
}
#contact  .btn{
    color: #fff;
    background-color: #1e1e1e;
 border: 1px solid rgba(48,48,48,1.00);
}

#social a:link, #social a:visited{
    color: #FAFAFA;
    font-size: 2em;
}

#social a:hover, #social a:focus, #social a:active{
    color: #48303E;
}
/* 

/*
====================================================================================
	MEDIA QUERY < 768
==================================================================================== 
*/
  @media only screen and (min-width: 768px) { 
#hero{
    width: 100%;
    height: 550px;
    background-image: url("../images/hero-imagee.jpg");
    background-size: cover;
    position: relative;
    background-position: center center;
}
#heroHeading{
    margin-top: 120px;
}
      #contact{
              height: 475px;
      }
}

    /* 
====================================================================================
	MEDIA QUERY > 1024
==================================================================================== 
*/
    @media screen and (min-width: 1024px) {
         
    
}
  
